body {
  background-color: #FFFDF5;
  color: #364C84;
}

.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: #ffffff;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(149, 177, 238, 0.2); /* Light blue shadow */
}

.card-title {
  color: #95B1EE;
}

.text-muted {
  color: gray !important;
}

/* Hover untuk tombol "Kelola Stok" */
.btn-outline-primary {
  color: #364C84;
  border-color: #95B1EE;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-outline-primary:hover {
  background-color: #95B1EE;
  color: white;
}

/* Hover untuk tombol "Kelola Penjualan" */
.btn-outline-success {
  color: #364C84;
  border-color: #E7F1A8;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-outline-success:hover {
  background-color: #E7F1A8;
  color: #364C84;
}

/* Icon warna agar sesuai palet */
.icon-stok {
  color: #95B1EE;
}

.icon-penjualan {
  color: #E7F1A8;
}
.fullpage-landing {
    height: 100%;
    overflow: auto;
    width: 100%;
    background-image: url('../img/web.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

  .overlay {
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
  }

  .dashboard-container {
    color: #506bb0;
    z-index: 3;
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
  }

  html, body {
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
      /* overflow: hidden; */
    }

    .navbar {
      background-color: white;
      padding: 10px;
    }

    .nav-pills .nav-link {
      color: black;
      margin: 0 2px;
      border: 2px solid transparent;
      border-radius: 20px;
      transition: all 0.3s ease;
      font-weight: bold;
      padding: 8px 20px;
    }

    .nav-pills .nav-link:hover {
      background-color: #95B1EE ;
      color: white !important;
      border-color: #95B1EE;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
      transform: scale(1.05);
    }

    .nav-pills .nav-link.active {
      background-color: #6b91e4;
      color: white !important;
      border-color: #95B1EE;
    }

    
    .landing-text {
    color: #506bb0;
    font-size: 3rem; /* Ukuran besar */
    font-weight: bold;
    position: absolute;
    top: 10%;
    transform: translateY(-50%);
    z-index: 2;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.2); /* Biar makin jelas */
    }

.breadcrumb-item a {
  text-decoration: none !important;
  color: #6b91e4 !important;
}
